@charset "UTF-8";
@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf) format("ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf) format("ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf) format("ttf");
}

html {
  margin: 0;
  background: #08020d;
  font: 18px/1.5 Roboto, sans-serif;
  color: #cacaca;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

h2 {
  font-size: 38px;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 24px;
}

* {
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  font: 16px/1.5 Roboto, sans-serif;
  color: #fff;
  text-transform: uppercase;
  white-space: pre;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fx-dir-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.d-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.padding-left-right {
  padding-left: 20px;
  padding-right: 20px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-24 {
  margin-top: 24px;
}

.margin-top-16 {
  margin-top: 16px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-right-24 {
  margin-right: 24px;
}

.margin-left-50 {
  margin-left: 50px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-49 {
  margin-bottom: 49px;
}

.margin-bottom-48 {
  margin-bottom: 48px;
}

.margin-bottom-64 {
  margin-bottom: 64px;
}

.margin-bottom-65 {
  margin-bottom: 65px;
}

.margin-bottom-32 {
  margin-bottom: 32px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.bg-trans {
  background-color: transparent;
}

.link-color {
  color: #fff;
}

.font-and-line-size {
  font-size: 0.711rem;
  line-height: 1.066rem;
}

.font-size-11 {
  font-size: 11px;
}

.font-weight-bold {
  font-weight: bold;
}

.text-up {
  text-transform: uppercase;
}

.text-decor-none {
  text-decoration: none;
}

.txt-align-centr {
  text-align: center;
}

.txt-align-left {
  text-align: left;
}

@media (min-width: 550px) {
  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 799px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1240px) {
  .container {
    width: 1240px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
  }
}

.header-pos-abs-25 {
  position: absolute;
  top: 25px;
  width: 100%;
}

.header-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2] 1fr;
      grid-template-columns: repeat(2, -webkit-max-content) 1fr;
      grid-template-columns: repeat(2, max-content) 1fr;
}

.header-logo {
  width: 24px;
  height: 24px;
}

.logotip-text {
  padding-left: 16px;
  padding-right: 88px;
}

.div-header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[4];
      grid-template-columns: repeat(4, -webkit-max-content);
      grid-template-columns: repeat(4, max-content);
  gap: 24px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header-form {
  -ms-grid-column-align: end;
      justify-self: end;
}

.header-search {
  width: 248px;
  padding: 5px 10px;
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
  color: #fff;
}

.header-search::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header-search:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header-search::-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header-search::placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header-search:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header-search:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header-search:focus::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header-search:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.banner {
  padding-top: 200px;
  padding-bottom: 200px;
}

.banner-bg {
  width: 100%;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.banner-section-form {
  margin: auto;
  max-width: 570px;
}

.banner-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding-left: 20px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  color: #fff;
}

.form-input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.form-input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.form-input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.form-input::placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.form-input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.form-input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.form-input:focus::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.form-input:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.btm-input {
  min-width: 100%;
  min-height: 57px;
  border: none;
  border-radius: 5px;
  background-color: #34c176;
  color: #fff;
}

@media (max-width: 850px) {
  .header-grid {
    -ms-grid-columns: (max-content)[3];
        grid-template-columns: repeat(3, -webkit-max-content);
        grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: (max-content)[2];
        grid-template-rows: repeat(2, -webkit-max-content);
        grid-template-rows: repeat(2, max-content);
  }
  .header-form {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  .header-grid {
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
    -ms-grid-rows: (max-content)[3];
        grid-template-rows: repeat(3, -webkit-max-content);
        grid-template-rows: repeat(3, max-content);
  }
  .header-nav {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    margin-top: 10px;
  }
  .header-form {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .form-input {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .header-grid {
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
    -ms-grid-rows: (max-content)[3];
        grid-template-rows: repeat(3, -webkit-max-content);
        grid-template-rows: repeat(3, max-content);
  }
  .header-form {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .header-search {
    width: 197%;
    /* 23.3rem;  тут я немного загнул конечно, но уже туго соображаю - перепилю потом */
  }
  .mobile-banner {
    padding-top: 50px;
  }
  .header-form {
    -ms-grid-column-align: start;
        justify-self: start;
    margin: 0;
  }
  .header-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
    -ms-grid-rows: (max-content)[4];
        grid-template-rows: repeat(4, -webkit-max-content);
        grid-template-rows: repeat(4, max-content);
    gap: 0;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 17px 0 18px 0;
  }
  .banner h2 {
    margin-bottom: 16px;
  }
}

@media (max-width: 399px) {
  .header-search {
    width: 90vw;
  }
}

.pricing-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricing-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 47px;
  margin-bottom: 40px;
  padding: 27px 1.5rem 66px 1.5rem;
  width: 371px;
  height: 619px;
  border-radius: 1rem;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.pricing-item h3 {
  margin-bottom: 200px;
  line-height: 36px;
  color: #fff;
}

.pricing-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 40px;
}

.pricing-figure {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 16px;
  font-size: 64px;
  line-height: 1em;
  text-align: right;
}

.pricing-unit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 8px;
  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
}

.pricing-footer {
  font-size: 0.711rem;
  line-height: 1.066rem;
  text-align: center;
}

.btn-pricing {
  padding: 20px 30px;
  min-width: 100%;
  min-height: 66px;
}

@media (max-width: 550px) {
  .pricing {
    padding-top: 100px;
  }
  .pricing-item {
    margin: 27px 0;
  }
  .pricing h2 {
    margin-bottom: 20px;
  }
  .pricing-item h3 {
    font-weight: normal;
    line-height: 24px;
    color: #fff;
  }
  .pricing-cards ~ p {
    margin-top: 20px;
  }
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-body {
  width: calc(50% - 25px);
}

.news-img {
  width: calc(50% - 25px);
}

.news-h3 {
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
  text-align: left;
  color: #fff;
}

.news-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.news-author-avatar {
  width: 19px;
  height: 19px;
  background-color: url("../images/avatar.png");
  background-position: center;
  background-size: cover;
}

.news-author-name {
  margin: 0 16px;
  color: #f89202;
  text-transform: uppercase;
}

.btn-news {
  padding: 16px 30px;
  max-width: 135px;
  font-size: 0.711rem;
  line-height: 1.066rem;
  color: #cacaca;
}

@media (max-width: 850px) {
  .news-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-body {
    width: 100%;
  }
  .news-img {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .news-h3 {
    margin: 50px 0 16px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
  }
  .word-spacing {
    word-spacing: -1px;
  }
}

.app-content {
  width: 50%;
  padding-top: 16px;
}

.btn-app {
  padding: 16px 40px;
  background-color: #95390c;
  border-radius: 32px;
  border-color: transparent;
  font-size: 12.8px;
  line-height: 19.2px;
  text-transform: none;
  letter-spacing: 0.15px;
}

.app-img {
  margin: 0 10.33% 0 12%;
}

@media (max-width: 850px) {
  .app-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app-content {
    width: 100%;
    padding-top: 0;
  }
  .app-img {
    width: 333px;
    margin: 0 auto 16px auto;
  }
}

.footer-body {
  padding: 3rem 0;
}

.footer-menu {
  padding: 2rem 0;
  border-top: 1px solid #E0E0E0;
}

.footer-body h2 {
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  color: #fff;
}

footer a {
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (max-content)[2];
      grid-template-rows: repeat(2, -webkit-max-content);
      grid-template-rows: repeat(2, max-content);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 16px 40px;
}

@media (min-width: 850px) {
  .r-1-c-1 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .r-1-c-2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .r-1-c-3 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .r-1-c-4 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 4;
    grid-column: 4;
  }
  .r-2-c-1 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .r-2-c-2 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .r-2-c-3 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .r-2-c-4 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 4;
    grid-column: 4;
  }
}

@media (max-width: 850px) {
  .footer-body {
    padding: 3rem 20px;
  }
  .footer-grid {
    -ms-grid-rows: (max-content)[8];
        grid-template-rows: repeat(8, -webkit-max-content);
        grid-template-rows: repeat(8, max-content);
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
  }
  .mobile-mt-14 {
    margin-top: 14px;
  }
  .mobile-grid-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    gap: 16px;
  }
}

.artist-banner-bg {
  width: 100%;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.btn-artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  min-width: 200px;
  min-height: 62px;
  margin-right: 1.5rem;
  margin-bottom: 23px;
  padding: 20px 30px;
  border: none;
  font-size: 12.8px;
  line-height: 19px;
  background-color: #5328a1;
}

.btn-artist + .btn-artist {
  background-color: #95390c;
}

.btn-logo {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.txt-align-left {
  text-align: left;
}

.artist-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 550px) {
  .artist-banner-bg h1 {
    margin-top: 25px;
  }
}

.pop-track-img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.pop-track-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 25px 50px;
}

.track-info {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.track-info h3 {
  font-size: 12.8px;
  line-height: 19.2px;
  font-weight: bold;
  text-align: left;
  color: #fff;
}

.track-info p {
  font-size: 12.8px;
  line-height: 19.2px;
}

@media (max-width: 550px) {
  .pop-track-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
}

.discography-item-img {
  margin-bottom: 18px;
  width: 250px;
  height: 250px;
}

.discography-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[4];
      grid-template-columns: repeat(4, 250px);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 25px 50px;
}

.discography-info-h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
}

@media (max-width: 1240px) {
  .discography-grid {
    -ms-grid-columns: (250px)[3];
        grid-template-columns: repeat(3, 250px);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 950px) {
  .discography-grid {
    -ms-grid-columns: (250px)[2];
        grid-template-columns: repeat(2, 250px);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 650px) {
  .discography-grid {
    -ms-grid-columns: (137px)[2];
        grid-template-columns: repeat(2, 137px);
    -ms-grid-rows: (max-content)[3];
        grid-template-rows: repeat(3, -webkit-max-content);
        grid-template-rows: repeat(3, max-content);
    width: 100%;
  }
  .discography-item-img {
    margin-bottom: 18px;
    width: 137px;
    height: 137px;
  }
  .discography-info-h3 {
    font-size: 18px;
    line-height: 27px;
  }
  .spacing {
    word-spacing: -0.5px;
    letter-spacing: -0.5px;
  }
}

.similar-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[4];
      grid-template-columns: repeat(4, 250px);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 25px 50px;
}

.similar-item-img {
  margin-bottom: 17px;
  width: 250px;
  height: 250px;
}

.similar-info-h3 {
  margin-bottom: 1px;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
}

@media (max-width: 1240px) {
  .similar-grid {
    -ms-grid-columns: (250px)[3];
        grid-template-columns: repeat(3, 250px);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .similar-grid {
    -ms-grid-columns: (250px)[2];
        grid-template-columns: repeat(2, 250px);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 650px) {
  .similar-grid {
    -ms-grid-columns: (137px)[2];
        grid-template-columns: repeat(2, 137px);
    -ms-grid-rows: (max-content)[4];
        grid-template-rows: repeat(4, -webkit-max-content);
        grid-template-rows: repeat(4, max-content);
    width: 100%;
  }
  .similar-item-img {
    margin-bottom: 18px;
    width: 137px;
    height: 137px;
  }
  .similar-info-h3 {
    margin-bottom: 0;
  }
}
