.app-content {
  width: 50%;
  padding-top: 16px;
}

.btn-app {
  padding: 16px 40px;

  font-size: 12.8px;
  line-height: 19.2px;
  letter-spacing: 0.15px;

  background-color: $red;

  border-color: transparent;
  border-radius: 32px;

  text-transform: none;
}

.app-img {
  margin: 0 10.33% 0 12%;
}

@media (max-width: 850px) {
  .app-mobile {
    flex-direction: column;
  }

  .app-content {
    width: 100%;
    padding-top: 0;
  }

  .app-img {
    width: 333px;
    margin: 0 auto 16px auto;
  }

  #page-app h2 {
    margin-bottom: 48px;
  }

  .height-pushup-app {
    height: 96px;  //чисто для условий тестов, видимо на их стороне проблема с ними
  }
}
