.app-content {
  width: 50%;
}

.btn-app {
  padding: 16px 40px;

  background-color: $red;

  border-radius: 32px;
  border: none;

  font-size: 12.8px;
  line-height: 150%;

  text-transform: none;
}

.app-img {
  margin: 0 10.33% 0 12%;
}

@media(max-width: 850px) {
  .app-mobile {
    flex-direction: column;
  }
  
  .app-content {
    width: 100%;
  }
  
  .app {
    margin: 118px auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .app-img {
    margin-bottom: 16px;
  }
}