.app-content {
  width: 50%;
  padding-top: 16px;
}

.btn-app {
  padding: 17px 41.5px;

  background-color: $red;

  border-radius: 32px;
  border: none;

  font-size: 12.8px;
  line-height: 19.2px;

  text-transform: none;
}

.app-img {
  margin: 0 10.33% 0 12%;
}

@media(max-width: 850px) {
  .app-mobile {
    flex-direction: column;
  }
  
  .app-content {
    width: 100%;
  }

  .app-img {
    width: 333px;
    margin: 0 auto 0 auto;
  }
}