.discography-item-img {
  width: 250px;
  height: 250px;
  margin-bottom: 18px;
}

.discography-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 250px);
  gap: 25px 50px;
}

.discography-info-h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  color: $white;
  text-transform: capitalize;
}

@media (max-width: 1240px) {
  .discography-grid {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 250px);
  }
}

@media (max-width: 950px) {
  .discography-grid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 250px);
  }
}

@media (max-width: 650px) {
  .discography-grid {
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: repeat(2, 137px);
    width: 100%;
  }

  .discography-item-img {
    width: 137px;
    height: 137px;
    margin-bottom: 18px;
  }

  .discography-info-h3 {
    font-size: 18px;
    line-height: 27px;
  }

  .spacing {
    letter-spacing: -0.5px;
    word-spacing: -0.5px;
  }

  .h3-height-pushup {
    height: 27px;
  }
}
