.banner {
  padding-top: 200px;
  padding-bottom: 200px;
}

.banner-bg {
  width: 100%;

  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
}

.banner-section-form {
  max-width: 570px;

  margin: auto;
}

.banner-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-input {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;

  margin-bottom: 1.5rem;
  padding-left: 20px;

  color: $white;

  border: 2px solid $dark-gray;
  border-radius: 3px;
}

.form-input::placeholder {
  color: $white;
  font-weight: 700;
  font-size: 14px;

  opacity: 1;

  transition: opacity 0.3s ease;
}

.form-input:focus::placeholder {
  opacity: 0;

  transition: opacity 0.3s ease;
}

.btm-input {
  min-width: 100%;
  min-height: 57px;

  color: $white;

  background-color: $green;

  border: none;
  border-radius: 5px;
}
