.footer-body {
  padding: 61px 20px 73px 20px;
}

.footer-menu {
  padding: 40px 0 48px 0;

  border-top: 1px solid #E0E0E0;
}

.footer-body h2 {
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  color: $white;
}

footer a,
span {
  font-size: 16px;
  line-height: 24px;
  color: $gray;
}

.footer-grid {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: repeat(4, 1fr);
  gap: 16px 40px;
}

.mobile-grid-row {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 15px;
}

.margin-bottom-pushup {
  margin-bottom: 75px;
}

.mobile-grid-row a:nth-child(1) {
  letter-spacing: 0.5px;
}

.mobile-grid-row a:nth-child(2) {
  letter-spacing: 0.1px;
}

.mobile-grid-row a:nth-child(3) {
  letter-spacing: 0.3px;
}

.mobile-grid-row a:nth-child(4) {
  letter-spacing: 0.4px;
}

.mobile-grid-row a:nth-child(5) {
  letter-spacing: 0.6px;
}

.height-pushup {
  max-height: 96px;
}

.width-pushup {
  width: max-content;
  height: max-content;
}

@media(min-width: 850px) {
  .r-1-c-1 {
    grid-row: 1;
    grid-column: 1;
  }

  .r-1-c-2 {
    grid-row: 1;
    grid-column: 2;
  }

  .r-1-c-3 {
    grid-row: 1;
    grid-column: 3;
  }

  .r-1-c-4 {
    grid-row: 1;
    grid-column: 4;
  }

  .r-2-c-1 {
    grid-row: 2;
    grid-column: 1;
  }

  .r-2-c-2 {
    grid-row: 2;
    grid-column: 2;
  }

  .r-2-c-3 {
    grid-row: 2;
    grid-column: 3;
  }

  .r-2-c-4 {
    grid-row: 2;
    grid-column: 4;
  }
}

@media(max-width: 850px) {
  .footer-body {
    padding: 3rem 20px;
  }

  .footer-grid {
    grid-template-rows: repeat(8, max-content);
    grid-template-columns: max-content;
  }

  .mobile-mt-14 {
    margin-top: 14px;
  }

  .mobile-grid-row {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
  }
}