@media(min-width: 551px) {
  .container {
    width: 80%;

    margin: 0 auto;
  }
}

@media(min-width: 799px) {
  .container {
    width: 90%;

    margin: 0 auto;
  }
}

@media(min-width: 1240px) {
  .container {
    width: 1200px;

    margin: 0 auto;
  }
}



