@media (min-width: 550px) {
  .container {
    width: 80%;

    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 799px) {
  .container {
    width: 90%;

    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1240px) {
  .container {
    box-sizing: border-box;
    width: 1240px;

    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 550px) {
  h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
  }

  h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
  }

  h3 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
  }
}
