.news-item {
  display: flex;
}

.news-body {
  width: calc(50% - 25px);
}

.news-img {
  width: calc(50% - 25px);
}

.news-h3 {
  color: $white;
  font-size: 30px;
  line-height: 45px;
  text-align: left;
  text-transform: capitalize;
}

.news-author {
  display: flex;
  justify-content: start;
}

.news-author-avatar {
  width: 19px;
  height: 19px;

  background-color: url('../images/avatar.png');
  background-position: center;
  background-size: cover;
}

.news-author-name {
  margin: 0 16px;

  color: $orange;
  text-transform: uppercase;
}

.btn-news {
  max-width: 135px;
  padding: 16px 30px;

  color: $dark-gray;

  font-size: 0.711rem;
  line-height: 1.066rem;
}

@media (max-width: 850px) {
  .news-item {
    flex-direction: column;
  }

  .news-body {
    width: 100%;
  }

  .news-img {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .news-h3 {
    margin: 50px 0 16px 0;

    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  .word-spacing {
    word-spacing: -1px;
  }
}
