.pricing-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pricing-item {
  box-sizing: border-box;

  margin-top: 47px;
  margin-bottom: 37px;
  padding: 26px 1.5rem 66px 1.5rem;

  width: 371px;
  height: 619px;

  border-radius: 1rem;
}

.bg-free {
  background-image: url('../images/subscribe_1.png');
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url('../images/subscribe_2.png');
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url('../images/subscribe_3.png');
  background-position: center;
  background-size: cover;
}

.pricing-item h3 {
  margin-bottom: 200px;
  line-height: 36px;
  color: $white;
}

.pricing-value {
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  margin-bottom: 40px;
}

.pricing-figure {
  box-sizing: border-box;
  margin-right: 16px;
  font-size: 64px;
  line-height: 1em;
  text-align: right;
}

.pricing-unit {
  box-sizing: border-box;
  padding-top: 8px;
  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
}

.pricing-footer {
  font-size: 0.711rem;
  line-height: 1.066rem;
  text-align: center;
}

.btn-pricing {
  padding: 20px 30px;

  min-width: 100%;
  min-height: 66px;
}

.pricing-cards + p {
  margin-bottom: 1px;
}

@media(max-width: 550px) {
  .pricing {
    padding-top: 100px;
  }

  .pricing-item {
    height: 597px;
    margin: 25px 0;
    padding-top: 18px;
    padding-bottom: 50px;
  }

  .pricing h2 {
    margin-bottom: 21px;
  }

  .pricing-item h3 {
    font-weight: normal;
    line-height: 24px;
    color: $white;
  }

  .pricing-cards ~ p {
    margin-top: 10px;
  }
}
